{% extends "service/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- 	    TinyMCE inline editing -->
	    <script type="text/javascript" src="{% static 'service/bower_components/tinymce/tinymce.min.js' %}"></script>
	    <script type="text/javascript">
	    tinymce.init({
		selector: "h1.editme",
		inline: true,
		toolbar: "undo redo",
		menubar: false
	    });

	    tinymce.init({
		selector: "div.editme",
		editor_deselector : "NoEditor",
		inline: true,
		force_br_newlines : false,
		force_p_newlines : false,
		forced_root_block : '',
		plugins: [
		    "advlist autolink lists link image charmap print preview anchor",
		    "searchreplace visualblocks code fullscreen",
		    "insertdatetime media table contextmenu paste"
		],
		toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	    });
	    </script>
<!-- 		TinyMCE inline editing end -->

<div id="pushme">
		<div id="course-element">
			<h2><div><span class="coursetitlepre">Course Title:</span><input type="text" class="form-control coursetitle" value="{{ course.title }}"></div></h2>
			<div>&nbsp;</div><hr><div>&nbsp;</div>
			<h4>Lesson 1:</h4>
		</div>
		<div class="courseeditsubmit">
			<button type="button" class="btn btn-secondary submitbutton" onclick="addLesson();">Add a lesson</button>
		</div>
		<div>
			<h2>Test</h2>
			<textarea type="text" class="form-control" rows="8">Enter the question text.</textarea>
		</div>
		<div class="courseeditsubmit">
			<button type="button" class="btn btn-secondary submitbutton">Cancel</button><button type="button" class="btn btn-secondary submitbutton">Save Course</button>
		</div>

</div>

{% endblock %}


{% block scripts %}
 <script src="{% static 'service/js/views/course-element.js' %}"></script>
 <script type="text/javascript">

 	var testCourse2 = new app.CourseElement({ variations:[{% for variation in variations %}{ id: {{variation.id}}, content: `{{variation.lesson.content}}` ,description: `{{variation.description}}`},{% endfor %}]});
 	$('#course-element').append(testCourse2.render().$el);

 	function addLesson(){
 		var testCourse3 = new app.CourseElement({variations:[{id:38,content:"You created a new lesson",description:"Variation 1"}]});
 		$('#course-element').append("<h4>Lesson 2:</h4>");
 		$('#course-element').append(testCourse3.render().$el);

 	}
 </script>
 <!--<script src="{% static 'service/bower_components/dragula.js/dragula.js' %}"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'service/bower_components/dragula.js/dragula.js' %}"/>
 <script type="text/javascript">dragula([document.getElementById(pushme)]);</script>
-->
{% endblock %}
