{% extends "service/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Available Courses</h1>
<div class="course-list">

{% for course in courses %}
<section class="row course-preview">
  <div class="col-sm-3 preview-image"><img src="{% static 'service/images/qft.jpg' %}"></div>
  <div class="col-sm-7 preview-content">
    <h3>{{ course.title }}</h3>
    <p>{{ course.description }}</p>
  </div>
  <div class="col-sm-2 preview-enroll">
    <a class="btn btn-secondary course-enroll" href="{% url 'prepare_course' course.id %}">Enroll</a>
  </div>
</section>
{% endfor %}

</div>
{% endblock %}

{% block prefooter %}
<section id="site-vision">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Our Vision</h2>
        <p>Online education is becoming increasingly accessible to a wide variety of demographics. As a result, it has the potential to create opportunities for those otherwise unable to access it. The newfound diversity of students presents considerable difficulties in ensuring that the educational material is effective for each demographic. To that end we propose to implement an A/B-testing framework that will automatically determine an optimal set of educational materials. The teacher provides variations to their material, as well as tests to determine the student's success. Our A/B-testing based algorithm adjusts the content of the course based on usage statistics and the results of the provided tests.</p>
        <p>For example, our project will help refugees to learn the language of their asylum country. These language courses were hardly ever taught to populations with such dissimilar cultural backgrounds. Our framework will choose between various language teaching methods to ensure the quickest and most effective learning for each cultural origin, improving in quality with each user.</p>
        <p>We can also apply the same technology to find the most effective explanation of a complicated physics concept based on the student's age, gender, cultural background, etc.</p>
        <p>We believe our project can have a significant impact on online education quality.</p>
      </div>
      <div class="col-sm-6">
        <h2>About this Project</h2>
        CERN Webfest etc.
      </div>
    </div>
  </div>
</section>
{% endblock %}
