{% extends "service/base.html" %}

{% block content %}
<div class="course-title">
  <strong>{{ course.title }}</strong>
  <div><strong>You're doing great, {{ student.name }}.</strong></div>
</div>

{% for lesson in lessons %}
{{ lesson.content }}
{% endfor %}

<hr style="margin-top: 2rem; margin-bottom: 2rem">

<div class="row">
  <div class="col-sm-5 col-centered">

    {{ test.content }}

    <form action="{% url 'take_course' course.id student.id %}" method="post" required class="test-form">
    {% csrf_token %}
        <label for="users_answer">Your answer:</label>
        <input type="text" name="users_answer" id="users_answer" class="form-control">
        <div style="text-align: center">
        <input type="submit" class="btn btn-secondary" value="Complete Course!">
      </div>
    </form>
  </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}
