{% extends "service/base.html" %}

{% block content %}
<div class="course-title">
  <strong>{{ course.title }}</strong>
  <div><strong>You're doing great, {{ student.name }}.</strong></div>
</div>

{% for lesson in lessons %}
{{ lesson.content }}
{% endfor %}

<h2>Test</h2>
{{ test.content }}
<form action="{% url 'take_course' course.id student.id %}" method="post" required>
{% csrf_token %}
    Your answer: <input type="text" name="users_answer"><br>
    <input type="submit" value="Submit" />
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}
