{% extends "service/base.html" %}
{% load staticfiles %}



{% block content %}



<h1>Visualization</h1>
{{ data }}
<canvas id="chart" width=400 height=400></canvas>

{% endblock %}

{% block scripts %}
{% if data.chart %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script type="text/javascript">
	var ctx = document.getElementById("chart");
    var chart = new Chart(ctx,{
    	type: 'line',
    	data: {
    		labels: [{% for p in data.possible_predictors %}"{{ p }}",{% endfor %}],
    		datasets: [{% for dd in data.data_pack %}{
    			label: "",
    			data: [{% for d in dd %}{{ d }},{% endfor %}]
    		},{% endfor %}]

    	}
    })
</script>
{% endif %}
{% endblock %}