@font-face {
    font-family: finch;
    src: url(./fonts/blacksword/blacksword.otf);
}

// ------------- Colors -------------
//Flat UI
$primary: #2C3E50;
$secondary: #E74C3C;
$background: #ECF0F1;
$backup1: #3498DB;
$backup2: #2980B9;

//bootstrap overwrites
$font-family-base: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$body-bg: $background;

//some other colors
$bg-color: $background;
$black: #000;
$white: #fff;
// ------------- End Colors -------------

@import '../bower_components/bootstrap/scss/bootstrap.scss';

h1 {
	background-color: $bg-color;
}

.header {
	background-color: $primary;

	a {
		display: block;
		text-align: center;

		img{
			width: 15%;
			margin: 0 auto;
			border-radius: 100%;
		}
	}
}

.finchfont{
	font-family: finch;
	font-size: 3em;
}

.content {
	background-color: $secondary;
	color: $white;
}

.footer {
	background-color: $backup1;
	color: $white;
}
